The US Department of Agriculture makes available a database of food nutrient information. Programmer Ashley Williams made available a version of this database in JSON format.

In [1]:
!wget -qnc -P ./usda_food https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/datasets/usda_food/database.json

In [4]:
import json
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style('whitegrid')

In [6]:
db = json.load(open('usda_food/database.json'))

In [8]:
len(db)

6636

In [10]:
type(db)

list

In [13]:
db[0].keys()

dict_keys(['id', 'description', 'tags', 'manufacturer', 'group', 'portions', 'nutrients'])

In [17]:
db[0]['nutrients'][0]

{'value': 25.18,
 'units': 'g',
 'description': 'Protein',
 'group': 'Composition'}

In [21]:
nutrients = pd.DataFrame(db[0]['nutrients'])
nutrients = nutrients[['description', 'group', 'units', 'value']]
nutrients
#Nutrients = nutrients.reindex(columns=['description', 'groups', 'units', 'value])

                            description        group units    value
0                               Protein  Composition     g   25.180
1                     Total lipid (fat)  Composition     g   29.200
2           Carbohydrate, by difference  Composition     g    3.060
3                                   Ash        Other     g    3.280
4                                Energy       Energy  kcal  376.000
..                                  ...          ...   ...      ...
157                              Serine  Amino Acids     g    1.472
158                         Cholesterol        Other    mg   93.000
159        Fatty acids, total saturated        Other     g   18.584
160  Fatty acids, total monounsaturated        Other     g    8.275
161  Fatty acids, total polyunsaturated        Other     g    0.830

[162 rows x 4 columns]

In [22]:
nutrients.head(10)

                   description        group units    value
0                      Protein  Composition     g    25.18
1            Total lipid (fat)  Composition     g    29.20
2  Carbohydrate, by difference  Composition     g     3.06
3                          Ash        Other     g     3.28
4                       Energy       Energy  kcal   376.00
5                        Water  Composition     g    39.28
6                       Energy       Energy    kJ  1573.00
7         Fiber, total dietary  Composition     g     0.00
8                  Calcium, Ca     Elements    mg   673.00
9                     Iron, Fe     Elements    mg     0.64

when converting a list of dicts to a dataframe, we can specify a list of fields to extract

In [23]:
info_keys = ['description', 'group', 'id', 'manufacturer']
info = pd.DataFrame(db, columns=info_keys)
info[:5]

,description,group,id,manufacturer
0,"Cheese, caraway",Dairy and Egg Products,1008,
1,"Cheese, cheddar",Dairy and Egg Products,1009,
2,"Cheese, edam",Dairy and Egg Products,1018,
3,"Cheese, feta",Dairy and Egg Products,1019,
4,"Cheese, mozzarella, part skim milk",Dairy and Egg Products,1028,

In [24]:
info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6636 entries, 0 to 6635
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   description   6636 non-null   object
 1   group         6636 non-null   object
 2   id            6636 non-null   int64
 3   manufacturer  5195 non-null   object
dtypes: int64(1), object(3)
memory usage: 207.5+ KB

In [25]:
#discription of food groups

pd.value_counts(info.group)[:10]

Vegetables and Vegetable Products    812
Beef Products                        618
Baked Products                       496
Breakfast Cereals                    403
Legumes and Legume Products          365
Fast Foods                           365
Lamb, Veal, and Game Products        345
Sweets                               341
Fruits and Fruit Juices              328
Pork Products                        328
Name: group, dtype: int64

In [ ]:
plt.figure(figsize=(12, 8)))