In [1]:
import pandas as pd

df = pd.DataFrame({
    'name': ['a','b','c','d','e','f','g','h','i','j','k','l'],
    'gender': ['M','M','M','M','F','F','F','F','F','F','F','F']
})
df.head()

  name gender
0    a      M
1    b      M
2    c      M
3    d      M
4    e      F

In [5]:
n = 3
df.sample(n , random_state=1)

  name gender
2    c      M
3    d      M
4    e      F

In [9]:
n = 3

def strat(df_stratum):
    n_rows = len(df_stratum)
    prop = n_rows/len(df)
    count = int(n* prop)
    return df_stratum.sample(n=count,random_state=42)

df.groupby('gender').apply(lambda df_stratum: strat(df_stratum))

         name gender
gender
F      5    f      F
       9    j      F
M      1    b      M